// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$light-blue: #18A2B8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #29A745;
$gray: #0E0000;
$light-gray: #ececec;
$white: #ffffff;
$pink: #FF385D;
